name: Security Scans

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  security-scan:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Debug workflow_run event info
        run: |
          echo "Run ID: ${{ github.event.workflow_run.id }}"
          echo "Conclusion: ${{ github.event.workflow_run.conclusion }}"
          echo "Repository: ${{ github.event.workflow_run.repository.full_name }}"

      - name: Download image tag artifact
        uses: actions/download-artifact@v4
        with:
          name: image-tag
          path: .
          run-id: ${{ github.event.workflow_run.id }}
          repository: ${{ github.event.workflow_run.repository.full_name }}

      - name: Read image tag
        id: image
        run: echo "IMAGE=$(cat image-tag.txt)" >> $GITHUB_ENV

      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: olaacr01.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE }}
          format: "table"
          exit-code: "0"
          ignore-unfixed: true
